<form [formGroup]="formGroup" (validSubmit)="onSubmit()">
  <div mat-dialog-content>
    <h4>{{title}}</h4>
    <div class="form-group">
      <label for="text">First Name</label>
      <input type="text" formControlName="first_name" [(ngModel)]="form.first_name" class="form-control" />
    </div>

    <div class="form-group">
      <label for="text">Middle Name</label>
      <input type="text" [disabled]="disabled" [ngModelOptions]="{standalone: true}" [(ngModel)]="form.middle_name"
        class="form-control" />

    </div>
    <div class="form-group">
      <label for="text">Last Name</label>
      <input type="text" formControlName="last_name" [(ngModel)]="form.last_name" class="form-control" />

    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" [(ngModel)]="form.email" class="form-control" />

    </div>
    <div class="form-group">
      <label for="text">Mobile Number</label>
      <input type="number" formControlName="mobile_number" [(ngModel)]="form.mobile_number" class="form-control" />
    </div>
    <div class="form-group">
      <label for="text">Phone Number</label>
      <input type="number" [disabled]="disabled" [ngModelOptions]="{standalone: true}" [(ngModel)]="form.phone_number" class="form-control" />
    </div>
    <div class="form-group">
      <label for="text">Country &nbsp;&nbsp; </label>
      <mat-form-field>
        <mat-select [(ngModel)]="form.country" formControlName="country">
          <mat-option>
            <ngx-mat-select-search [disabled]="disabled" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
              [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let country of countries |textSearch:searchText" [value]="country.name">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="text">Address</label>
      <input type="text"  [disabled]="disabled" [ngModelOptions]="{standalone: true}" [(ngModel)]="form.address" class="form-control" />
    </div>

    <div class="form-group">
      <label for="text">Subject </label>
      <input type="text" formControlName="subject" [(ngModel)]="form.subject" class="form-control" />
    </div>
    <div class="form-group">
      <label for="text">Message </label>
      <input type="text" formControlName="message" [(ngModel)]="form.message" class="form-control" />

    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Submit
      </button>
    </div>
  </div>
</form>
