<br>
<button style="float: right;margin-right: 20px; " class="btn btn-primary" mat-button (click)="logout()"><i
    class="fa fa-sign-out"></i></button>

<button style="margin-left: 10px; width: 10%;" class="btn btn-primary" mat-button (click)="createForm()"><i
    class="fa fa-plus"></i> &nbsp; Add</button>

<br><br>
<table class="table table-bordered table-striped">
  <thead class="black white-text">
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Mobile Number</th>
      <th>Address</th>
      <th>Created Date</th>
      <th>Updated Date</th>
      <th>Deleted Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let form of formArray">
      <td>
        <i *ngIf="form.deleted_at != null" class="fa fa-flag"></i>
      </td>
      <td>{{form.first_name}}</td>
      <td>{{form.last_name}}</td>
      <td>{{form.email}}</td>
      <td>{{form.mobile_number}}</td>
      <td>{{form.address}}</td>
      <td>{{form.created_at}}</td>
      <td>{{form.updated_at}}</td>
      <td>{{form.deleted_at}}</td>
      <td>
        <button  mat-button (click)="editForm(form)" class="btn btn-warning"><i class="fa fa-edit"></i></button>&nbsp;&nbsp;

        <button [hidden]="form.deleted_at != null"  mat-button (click)="delete(form.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
